@media (max-width: 1350px) {
    section#header {
        .left {
            .content {
                h1 {
                    font-size: 54px;
                }

                .Typewriter {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    section#header {
        .left {
            .float-image {
                width: 38px;
            }
        }
    }
}

@media (max-width: 1024px) {
    section#header {
        flex-direction: column-reverse;

        .left {
            width: 100%;
            justify-content: flex-end;

            .content {
                padding: 0;
                
                h4 {
                    text-shadow: 2px 2px 8px black;
                }
                h1 {
                    text-shadow: 2px 2px 8px black;
                }
                .Typewriter {
                    text-shadow: 2px 2px 8px black;
                }
            }

            .float-image {
                display: none;
                visibility: hidden;
            }
        }

        .right {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media (max-width: 425px) {
    section#header {
        .left {
            .content {
                h1 {
                    font-size: 38px;
                    line-height: 50px;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    section#header {
        padding: 30px;

        .left {
            .content {
                .Typewriter {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
section#header {
        .left {
            .content {
                .Typewriter {
                    font-size: 16px;
                }
            }
        }
    }
}